div#terms_grouped {
	overflow:auto;
}

div.group_table {
        background-color: #ddf;
        border: 1px solid black;
        float: left;
/*        width: 26%; */
        margin: 0.3em 1%; 
}

div.group_table h3 {
        background-color: #bbf;
        font-size: 100%;
        margin: 0;
        padding: 5px;
} 



body {

 margin-left: 6em;
 margin-right: 12em;
 text-align: justify;
}


div.specterm {

        border: 1px solid black;
  	background: 	#F0F0F0  ;
	  padding: 1em;
}

.archaic {
/*        background: #5E2612; 
The CSS here could do with some love...
*/
color: #5E2612;     
} 

.termdetails {
}

div.rdf-proplist {
        background-color: #ddf;
        border: 1px solid black;
        float: left;
/*        width: 26%; */
        margin: 0.3em 1%; 
}
img { border: 0 } 

.example {
        border: 1px solid black;
        background-color: #D9E3E9; 
	padding: 5px;
	width: 100%;
}

 .editorial {
        border: 2px solid green;
        padding: 5px;
}

div.rdf-classlist {
        background-color: #eef;
        border: 1px solid black;
        float: left;
        margin: 0.3em 1%;
        width: 26%;
}

div.rdf-proplist h3 {
        background-color: #bbf;
        font-size: 100%;
        margin: 0;
        padding: 5px;
}

div.rdf-classlist h3 {
        background-color: #ccf;
        font-size: 100%;
        margin: 0;
        padding: 5px;
}

specterm.h3 {
/*      foreground-color: #000; */
        background-color: #bbf;
        font-size: 100%;
        margin: 0;
        padding: 3px;
}


.azlist { 
	padding: 5px; 
	border: solid; 
	background-color: #ddd;
}
